body{
    font-family: sans-serif;
}
h1 {
    text-align: center;
    font-size: 2.2em;
}
p {
    text-align: center;
    font-size: 1em;
}
#intro {
    width: 90vw;
    margin: 0 auto;
    border: 2px solid red;
}
#selectors1 {
    width:42vw;
    border: 2px solid yellow;
    float: left;
    margin-left:3vw;
}
#selectors2 {
    width:42vw;
    border: 2px solid yellow;
    margin-left:50vw;
}
#chart {
    border: 2px solid green;
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 0;
    font-size: 0.8em;
}
line.slope-line{
    stroke:green
}
text.slope-label{
    fill:red;
    font: 20px Arial;
}
.chart-title {
}
.axis path {
  display: none;
}
.ui-autocomplete { 
    cursor:pointer; 
    margin: 0 auto;
    overflow-y:scroll;
} 
#tbCountries {
    border: 2px solid green;
    width: 42vw;
    margin: 0 auto;
    border-radius: 10px;
}